.App {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #000d1b;

}

.events {

  display: flex;
  flex-direction: column;

}